{% extends 'home.html' %}

{% block content %}
<div class="center">
<table>
    <tr><td>
  <div class="card">
    <div class="additional">
      <div class="user-card">

          <img src="static/novel3.jpg" height="350px" width="250px">

      </div>
      <div class="more-info">
        <h1 style="font-size: 40px">Old Books</h1>

        <div class="coords">
            <h4> For more info</h4><br/>
            <button type="submit" style="border-radius: 3px; width: 100px; height: 30px; border-style: none; background: #333333; color: white; cursor: pointer">click Here</button>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Old book</h1><br/>
      <p>Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers</p>
      <span class="more">Mouse over the exercise for more info</span>
    </div>
  </div>
    </td>
<!--##############################################the second card###################################-->

        <td>
  <div class="card green">
    <div class="additional">
      <div class="user-card">

        <img src="static/novel4.jpg" height="350px" width="250px">
      </div>
      <div class="more-info">
        <h1 style="font-size: 40px">Novels</h1>

        <div class="coords">
            <h4> For more info</h4><br/>
            <button type="submit" style="border-radius: 3px; width: 100px; height: 30px; border-style: none; background: #333333; color: white; cursor: pointer">Click Here</button>
        </div>
      </div>
    </div>
    <div class="general">
      <h1>Novel</h1><br/>
      <p>One must always be careful of books," said Tessa, "and what is inside them, for words have the power to change us.</p>
      <span class="more">Mouse over the exercise for more info</span>
    </div>
  </div>
        </td>
    </tr>
</table>
   </div>
{%  endblock content %}
